
  .searchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }
  
  /* Style the search form container */
  .searchPageContainer {
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    padding: 3rem;
}

.routeContainer, .dateContainer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between; 
}

.label  {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.userInput {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.swapContainer {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buttonContainer {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.buttonContainer Button {
    background-color: #ffbd03;
    width: 150px;
}

.buttonContainer Button:hover {
    background-color: #ffbd03;
    opacity: 0.6;
}