* {
    margin: 0;
    box-sizing: border-box;
    color: rgb(34, 84, 97);
}

.nav {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 15rem;
}

.airline-name {
    font-size: 3rem;
}

.nav ul {
    list-style: none;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    font-size: 1rem;
}

.nav a {
    text-decoration: none;
}

.logo {
    width: 250px;
}