
 .container {
    margin: 0 auto;
    max-width: 800px;
  }
  
  .header {

    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .main {
    /* background-color: #F0F0F0; */
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
  }
  
  .paragraph {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }